@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --color-fondo:black;
    --color-texto:white;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    font-family: "Exo", serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Lo envía al fondo */
}

body{
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.titulo{
    color: var(--color-texto);
    font-size: 150px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-style:italic;
}


.sub_titulo{
    color: var(--color-texto);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 200;
}

.div_sistemas{
    text-align: center;
   padding: 50px;
}

.lista_sistemas{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--color-texto);
    gap: 20px;
}

.sistema{
    height: 80px;
    font-size: 30px;
    align-content: center;
    border-radius: 20px;
}

.button_s{
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left:20px;
    padding-right: 20px;
    color: var(--color-texto);
    background-color: rgba(255,255,255,0.1);
    transition: all 500ms ease;
}

#i_button_s{
    font-size: 30px;
}

.button_s:hover{
    background-color:var(--color-texto) ;
    color: var(--color-fondo);
}